.centered {
  height: 100%;
  display: grid;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px
}

.home {
  padding-top: 65px;
}

.titles {
  font-family: 'Raleway', sans-serif;
}

.middle {
  margin: auto;
}

.main {
  max-width: 320px;
  margin: 0 auto;
}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

hr {
  background-color: #cdcdcd;
  height: 1px;
}

h3, h4 {
  text-align: center;
  line-height: 300%;
}

.button {
 display: flex;
 justify-content: center;
}

.login-buttons{
  width: 190px;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#btn-google{
  background: white;
  color: #444;
  border: thin solid #888;
}

#btn-google img {
    width: 25px;
    margin-right: 5%;
}

/* --- Clases para sección de registro -- */

.container-new-user {
  width: 50%;
  margin: 1.5em auto;
  padding: 3em;
  border: 1px solid lightgrey;
  background: white;
}

#avatar{
  border-radius: 50%;
  height: 100px;
}

li p{
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}

#button-edit-profile,
#button-logout{
  color: #ffffff;
  margin: 10px;
  background: #38468c;
}

.info {
  padding: 5%;
}

.info a {
  margin-left: 10px;
}

ul p:nth-of-type(odd){
  background-color: #d3d3d3;
}

#btn-log-out {
  color: #ffffff;
}

.new-entry {
  margin: 3%;
  border: none;
}

#entry-title {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: bold;
}

.controls {
  margin: 0 15px 10px;
}

.remove-padding {
  padding: 0;
}

.full {
  width: 100%;
}

#entries {
  margin-top: 5%;
}

#file-image{
  display: none;
}

.entry-card{
  border: 1px solid #26a69a;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

.entry-name{
  font-weight: bold;
  font-size: 2em;
}

.hide{
  display: none;
}

@media screen and (max-width: 767px) {
  #controls-row {
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 15px;
  }
}

